* {
  color: #abb2bf;
  font-family: Consolas, "Courier New", Courier, Monaco, monospace;
  font-size: 14px;
  line-height: 1.2;
}
body {
  background-color: #282c34;
}

.code {
  white-space: pre-wrap;
  padding: 0em !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#cmd {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
}
.clr-61aeee {
  padding: 0;
  color: #61aeee;
}
